div.footer {
  width: 100%;
  display: block;
  position: relative;
  bottom: 0;
  padding: 0.5em 1em 0.5em 1em;
  margin: 0;
  color: white;
  background-color: rgba(13, 13, 14, 0.76);
}

.footer h1 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 0 0.2em 0;
}

.footer div {
  margin: 0 0 1em 0;
}

.contact > i {
  color: #58e0e2;
}

.contact > p {
  display: inline-block;
}

div.schedule {
  margin: 0 0 1em 0;
}

span.column1 {
  width: 6em;
  float: left;
}

@media (min-width: 640px) {
  .footerSplit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footerSplit > div {
    margin: 1em 0 0 0;
  }
}
