.home main {
  width: 100%;
}

.body img {
  max-width: 100%;
}

div.imageContainer {
  display: block;
  width: 100%;
}

@media (min-width: 640px) {
  div.split {
    display: flex;
    flex-direction: row;
  }
  div.reverseSplit {
    display: flex;
    flex-direction: row-reverse;
  }
}

header.header {
  padding: 1em 0.5em 1em 0.5em;
  width: 100%;
  line-height: 1.5;
  background-color: rgb(245, 245, 245);
  font-family: 'Impact', sans-serif;
}

.header p {
  font-size: 1em;
  color: rgba(2, 2, 2, 0.493);
  margin: 0 0 0.5em 0;
}

@media (min-width: 640px) {
  header.header {
    width: 100%;
    display: flex;
    align-items: center;
  }
  header.header > p {
    margin: 0;
    font-size: 1.5em;
    text-align: left;
  }
}

@media (min-width: 1008px) {
  div.imageContainer {
    width: 100%;
    border-radius: 10px;
  }

  .imageContainer img {
    border-radius: 10px;
  }

  .videoContainer video {
    border-radius: 10px;
  }
  header.header {
    width: 100%;
  }

  header.header > p {
    font-size: 1.2em;
    width: 100%;
  }

  div.split {
    flex-direction: column;
    width: 30%;
  }

  div.videoContainer {
    width: 100%;
  }

  div.videoSection {
    width: 41.65%;
    display: flex;
    flex-direction: column;
  }

  div.largeSplit {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding: 1em;
    margin: 0;
    background-color: rgb(245, 245, 245);
  }

  div.largeReverseSplit {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-around;
    padding: 1em;
    margin: 0;
    background-color: rgb(245, 245, 245);
  }
}

section.section {
  display: block;
  padding: 1em 0.5em 1em 0.5em;
  background-color: rgb(245, 245, 245);
  color: rgba(128, 128, 128, 0.753);
}

section.section ul {
  font-size: 0.9em;
}

.section i {
  color: #58e0e2;
  border: 1px solid #58e0e249;
  border-radius: 50%;
}

@media (min-width: 640px) {
  section.section ul {
    font-size: 1.2em;
    column-count: 2;
    white-space: pre;
  }
}

@media (min-width: 1008px) {
  section.section ul {
    width: 100%;
    font-size: 1em;
    column-count: 2;
    white-space: pre;
  }
}

div.graphic {
  display: block;
  margin: 2em 0 2em 0;
}

@media (min-width: 1008px) {
  div.graphic {
    width: 40%;
  }
}

.serviceSection {
  display: block;
  background-color: rgb(245, 245, 245);
  color: rgba(128, 128, 128, 0.753);
}

.serviceSection > h1 {
  font-weight: bold;
  font-size: 1.2em;
  color: rgb(128, 128, 128);
  text-transform: capitalize;
  margin: 0 0 0.5em 0.5em;
  text-align: left;
}

.serviceSection i {
  color: #58e0e2;
}

.serviceSection > img {
  width: 100%;
  margin: 0;
}

.serviceSection p {
  font-size: 1em;
  color: rgba(128, 128, 128, 0.753);
  margin: 0.5em;
}

@media (min-width: 640px) {
  section.serviceSection {
    padding: 0.5em 0.5em 1em 0.5em;
  }

  section.serviceSection h1 {
    font-size: 1.4em;
    border-bottom: 1px solid rgba(128, 128, 128, 0.13);
  }
  section.serviceSection p {
    max-width: 40%;
    margin: 0.5em 0.5em 0 0.5em;
    font-size: 1.2em;
  }
}
@media (min-width: 1008px) {
  div.split {
    flex-direction: column;
  }
  div.reverseSplit {
    flex-direction: column;
  }
  div.reverseSplit p {
    max-width: 100%;
    font-size: 1em;
  }

  section.serviceSection p {
    font-size: 1em;
  }
  div.sectionSplit {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }
  section.serviceSection {
    padding: 2em 0 2em 0;
    background-color: #fff;
  }

  div.sectionSplit > section {
    width: 45%;
  }
  section.serviceSection > div.split > p {
    max-width: 100%;
  }

  section.serviceSection > div.split {
    width: 90%;
  }

  div.largeReverseSplit > section.serviceSection {
    width: 50%;
    background-color: rgb(245, 245, 245);
  }

  div.largeReverseSplit > section.serviceSection > h1 {
    width: 88.55%;
  }

  div.largeSplitWhite {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding: 1em 0 1em 0;
    margin: 0;
    background-color: #fff;
  }

  div.largeSplitWhite > .graphic {
    padding: 8em 0 0 0;
  }

  div.largeSplitWhite > section.serviceSection {
    width: 45%;
  }
}
