.home main {
  width: 100%;
}

.body img {
  max-width: 100%;
}

div.imageContainer {
  display: block;
  width: 100%;
}

@media (min-width: 640px) {
  div.split {
    display: flex;
    flex-direction: row;
  }
}

header.header {
  padding: 1em 0.5em 1em 0.5em;
  width: 100%;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.822);
  background-color: rgb(245, 245, 245);
}

@media (min-width: 640px) {
  header.header {
    width: 50%;
  }
  header.header > p {
    margin: 1.4em 0 0 0;
    font-size: 1.4em;
    text-align: left;
  }
}

@media (min-width: 740px) {
  header.header > p {
    margin: 1.2em 0 0 0;
    font-size: 1.8em;
  }
}

.header h1 {
  font-weight: bold;
  font-size: 2.5em;
  color: rgb(128, 128, 128);
  text-transform: capitalize;
  margin: 0 0 0.5em 0;
}

.header p {
  font-size: 1em;
  color: rgba(128, 128, 128, 0.753);
  margin: 0 0 0.5em 0;
}

@media (min-width: 393px) {
  .header h1 {
    font-size: 2.8em;
  }
}

section.section {
  display: block;
  padding: 1em 0.5em 1em 0.5em;
  background-color: rgb(245, 245, 245);
  color: rgba(128, 128, 128, 0.753);
}

.section ul {
  font-weight: bold;
}

.section i {
  color: #58e0e2;
  border: 1px solid #58e0e249;
  border-radius: 50%;
}

div.graphic {
  display: block;
  margin: 2em 0 2em 0;
}

.serviceSection {
  display: block;
  background-color: rgb(245, 245, 245);
  color: rgba(128, 128, 128, 0.753);
  padding: 0.5em 0 1em 0;
}

.serviceSection > h1 {
  font-weight: bold;
  font-size: 1.2em;
  color: rgb(128, 128, 128);
  text-transform: capitalize;
  margin: 0 0 0.5em 0.5em;
  text-align: left;
}

.serviceSection i {
  color: #58e0e2;
}

.serviceSection > img {
  width: 100%;
  margin: 0;
}

.serviceSection > p {
  font-size: 1em;
  color: rgba(128, 128, 128, 0.753);
  margin: 0.5em 0.5em 0 0.5em;
}
